<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="span7" id="profile_info">
		<aside class="span5">
		<section>
			<h2>
			<%= gravatar_for @user %>
			<%= @user.name %>
			</h2>
		</section>
	</aside>
	</aside>
	<aside class="span5" id="right_u">

		Right sidebar
	</aside>


</div>
